<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div class="card border-danger">
      <div class="card-header bg-danger text-white">
        <%= pluralize(@order.errors.count, "error") %> prohibited this book from being saved:
      </div>
      <div class="card-body">
        <ul class="mb-0">
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="field">
    <p>お届け先:<%= @order.address %></p>
    <%= form.hidden_field :address, id: :address %>
  </div>
  
  <div class="field">
    <p>商品:<%= @book.title %></p>
    <%= form.hidden_field :book_id, id: :book_id %>
  </div>

  <div class="field">
    <p>数量:<%= @order.quantity %></p>
    <%= form.hidden_field :quantity, id: :quantity %>
  </div>
  
  <div class="actions">
    <%= form.submit '戻る', name: :back %>
    <%= form.submit '注文確定' %>
  </div>
  
<% end %>