<%= form_with(model: tag, local: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation" class="card border-danger">
      <div class="card-header bg-danger text-white">
        <%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:
      </div>

      <div class="card-body">
        <ul class="mb-0">
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tag_name %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
