<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>商品タグ</h1>

<p><%= current_user.email %> でログイン中</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Tag.human_attribute_name('name') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to t('.edit'), edit_tag_path(tag) %></td>
        <td><%= link_to t('.destroy'), tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_tag_path %>
<br>
<%= link_to t('.logout'), destroy_user_session_path, method: :delete %>