<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<p>
  <strong><%= Book.human_attribute_name('title') %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name('author') %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name('published_on') %>:</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong><%= Book.human_attribute_name('price') %>:</strong>
  <%= @book.price %>
</p>

<p>
  <strong><%= Tag.human_attribute_name('name') %>:</strong>
  <%= @book.tags.map(&:name).join(', ') %>
</p>

<% if @book.picture.file? %>
<%= image_tag(@book.picture, width: 300) %>
<% end %>

<br>

<%= link_to t('.back'), products_path %>

<br>

<%= link_to '注文する', new_order_path(book_id:@book) %>